.header {
    display: inline-flex;
    align-items: center;
    
    padding: 0px 10px;
}

.material-icons {
    color: purple;
}

.products {
    border: 3px lightblue solid ;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;

    background-color: mintcream;
}

.buttons-bottom {
    display: inline-flex;
    align-items: center;
}

button {
    margin-right: 10px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/